@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor0:#92A8D1;  
    --cor1: #8E949E;
    --cor2: #4B566B;
    --cor3: #1C2638;
    --cor4: #0F1C33;
    --cor5: #92a8d16e;

    --fonte-romantic: "Parisienne", cursive;
    --fonte-romantic2: "Great Vibes", cursive;
    --fonte-titulos: "Playfair Display", serif;
    --fonte-texto: "Inter", sans-serif;
}
html, body {
    height: 100%;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor4);
    height: 60px;
    box-shadow: 2px 4px 4px #0f1c3369;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.nav-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav-item {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--cor1);   
    font-family: var(--fonte-titulos);
    font-style: italic;
    padding:10px;
    margin-left: 10px;
    border-radius: 8px;
    transition: 0.2s;
}
.nav-item:hover {
    transform: scale(1.05);
    background-color: var(--cor3);
}
.btn-close {
    display: none;
}
.menu-hamburguer {
    display: none;
}
.confirmacao-section {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--cor5);
    display: flex;
    flex-direction: row;
}
.information-zone{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information-content {
    width: 100%;
    height: 100%;
    padding: 15px;
}
.title-information {
    text-align: center;
    font-size: 1.2em;
    color: var(--cor2);
    font-family: var(--fonte-titulos);
    font-style: italic;
}
.contador {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-content {
    font-size: 3.5em;
    color: var(--cor3);
    font-family: var(--fonte-titulos);
}
.legenda-timer{
    color: var(--cor3);
    font-family: var(--fonte-romantic2);
}
.legenda-information {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor4);
    font-size: 2em;
    font-family: var(--fonte-romantic2);
}
.information-event {
    height: 60%;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding-left: 10%;
}
.datalhes-information {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    text-align: left;
}
#data-information {
    margin-top: 10px;
    margin-bottom: 20px;
}
.legenda-detalhes{
    font-family: var(--fonte-texto);
    color: var(--cor4);
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.material-symbols-rounded {
    color: var(--cor2);
    font-size: 40px !important;
    vertical-align: middle !important;
    
}
.btn-content {
    margin-left: 15%;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 30px;
}
.btn-event {
    border-radius: 7px;
    font-family: var(--fonte-texto);
    background-color: var(--cor2);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 1px 1px 4px 0px #0f1c3350;
}
.btn-event:hover{
    transform: scale(1.1);
    background-color: var(--cor0);
    color: white;
}
.form-zone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-content {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor4);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 7px 1px #0f1c335d;
}
.form-title {
    color:white;
    font-family: var(--fonte-titulos);
    font-style: italic;
}
#ornamento-confirmacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    color: white;
    font-size: 1.3rem;
}
#ornamento-confirmacao::before, #ornamento-confirmacao::after {
    content:"";
    width: 150px;
    height: 1px;
    background-color: white;
}
#ornamento-confirmacao::before {
    margin-right: 12px;
}
#ornamento-confirmacao::after{
    margin-left: 12px;
}
.ornamento {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    color: var(--cor4);
    font-size: 1.3rem;
}
.ornamento::before, .ornamento::after {
    content:"";
    width: 150px;
    height: 1px;
    background-color: #0F1C33;
}
.ornamento::before {
    margin-right: 12px;
}
.ornamento::after {
    margin-left: 12px;
}
.form-rsvp {
    width: 100%; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.campo-form{
    width: 100%;
    padding: 15px;
    border: 3px solid white ;
    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: bold;
    color: var(--cor4);
    outline: none;
    transition: 0.3s;
}
.campo-form:focus {
    border-color: var(--cor1);
    box-shadow: 0 0 8px rgba(119,82,150,.2);
}
.btn-form {
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor5);
    color: white;
    font-family: var(--fonte-texto);
    font-style: italic;
    font-weight: bolder;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.375);
}
.btn-form:hover {
    background-color: var(--cor0);
    transform: scale(1.05);
}

@media(max-width: 900px) {
    html, body {
        height: auto;
        overflow-y: auto;
    }
    header {
        position: sticky;
        top: 0;
        z-index: 1000; 
    }
    .confirmacao-section {
        flex-direction: column; 
        height: auto;
        min-height: calc(100vh - 60px);
        padding-bottom: 40px; 
    }
    .information-zone {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    .information-content {
        height: auto;
        justify-content: center;
    }
    .information-event {
        width: 100%;
        height: auto;
        padding-left: 23%;
        
    }
    .btn-content {
        width: 50%;
        justify-content: start;
        margin-left: 0;
    }
    .form-zone {
        height: auto;     
        padding: 30px 0;  
    }
    .form-content {
        width: 90%;   
        height: auto;    
        padding: 30px 15px;
    }
    #ornamento-confirmacao::before, #ornamento-confirmacao::after,
    .ornamento::before, .ornamento::after {
        width: 80px; 
    }
    .contador {
        gap: 20px;
    }
    .timer-content {
        font-size: 2.8em;
    }
}

@media (max-width: 600px) {
    
    .nav-bar {
        justify-content: flex-start;
        padding: 15px; 
    }
    .nav-items {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 280px;
        z-index: 999;
        background-color: #0f1c337d;
        backdrop-filter: blur(10px);
    }
    .nav-item {
        color: var(--cor1);
        font-weight: bold;
        font-size: 1.3em;
    }
    .nav-item:hover {
        background-color: var(--cor2);
    }
    .nav-items.active {
        display: flex;
    }
    .menu-hamburguer {
        display: block; 
    }
    .btn-close {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 6px;
    }
    .btn-close:hover {
        transform: scale(1.05);
        background-color: var(--cor2);
    }
    .btn-close .material-symbols-rounded {
        color: var(--cor1); 
        font-size: 50px !important;
    }
    .btn-close.active {
        display: block !important;
    }
    .btn-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.2s;
    }
    .btn-menu .material-symbols-rounded {
    color: var(--cor0);
    font-size: 40px !important;
    }
    .btn-menu:hover {
        transform: scale(1.05);
        background-color: var(--cor3);
    }
    .legenda-information {
        font-size: 1.8em;
    }
    .information-zone {
        width: 100%;
        height: auto;
    }
    .information-content {
        height: auto;
        justify-content: flex-start;
        padding: 10px;
    }
    .information-event {
        width: 100%;
        height: auto; 
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }
    .datalhes-information {
        width: 100%; 
        align-items: center; 
    }
    .btn-content {
        width: 50%;
        max-width: 200px;
        justify-content: start;
        margin-left: 55px
    }
    .btn-event {
        width: 100%;
        padding: 12px 14px;
        text-align: center;
    }
    .campo-form{
    height: 45px;
    }
}